body{
    background-color: #00008B;
    text-align: center;
}

h1{
 font-size: 30px;
 color:darkred;
}

p{
    color:black;
    font-size: 25px;
}

#imagem1{
    width: 100%;
    height: 20%;
    border: 2px;
}

.itens{
    font-style: italic;
    font-size:30%
}

.beneficios{
    background-color:#00008B;
    text-align: left;
    font-size: 30%;
}